<?xml version='1.0' encoding='utf-8'?>
<widget id="net.kahowell.recipe" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Ryouri Book</name>
    <author email="kevin@kahowell.net" href="http://kahowell.net">
        Kevin Howell
    </author>
    <content src="index.html" />
    <hook type="before_prepare" src="scripts/bower_install.js"/>
    <icon src="res/android/xxxhdpi.png" density="xxxhdpi"/>
    <icon src="res/android/xxhdpi.png" density="xxhdpi"/>
    <icon src="res/android/xhdpi.png" density="xhdpi"/>
    <icon src="res/android/hdpi.png" density="hdpi"/>
    <icon src="res/android/mdpi.png" density="mdpi"/>
    <icon src="res/android/ldpi.png" density="ldpi"/>
</widget>
