<?xml version='1.0' encoding='utf-8'?>
<widget id="net.kahowell.recipe" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Ryouri Book</name>
    <author email="kevin@kahowell.net" href="http://kahowell.net">
        Kevin Howell
    </author>
    <content src="index.html" />
    <hook src="scripts/bower_install.js" type="before_prepare" />
    <icon density="xxxhdpi" src="res/android/xxxhdpi.png" />
    <icon density="xxhdpi" src="res/android/xxhdpi.png" />
    <icon density="xhdpi" src="res/android/xhdpi.png" />
    <icon density="hdpi" src="res/android/hdpi.png" />
    <icon density="mdpi" src="res/android/mdpi.png" />
    <icon density="ldpi" src="res/android/ldpi.png" />
    <engine name="android" spec="4.0.2" />
    <cdv:platform name="android" />
</widget>
